header{
	padding-top: 30px;
}
header li{
	overflow: hidden;
	line-height: 70px;
}
header .userName{
	font-size: 20px;
	color: white;
}
header .userCover img{
	height: 60px;
	width: 60px;
}
header .userSet a,
header .userLogout a,
header .userCancel a{
	text-decoration: none;
	color: rgba(255,255,255,0.7);
}
header .userSet a:hover,
header .userLogout a:hover,
header .userCancel a:hover{
	color: rgba(255,255,255,1);
}
section{
	padding-top: 30px;
}
section .left{
	padding: 0;
	border-right: solid 1px rgba(255,255,255,0.2);
	overflow: hidden;
}
section .left .header{
	font-size: 15px;
	color: rgba(255,255,255,0.5);
	text-decoration: none;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
}
section .left .header:hover,
section .left .body ul li a:hover{
	color: rgba(255,255,255,1);
	background-color: rgba(255,255,255,0.1);
}
section .left .body ul{
	display: none;
	padding: 0;
}
section .left .body ul li{
	width: 100%;
	overflow: hidden;
}
section .left .body ul li a{
	display: block;
	color: rgba(255,255,255,0.5);
	text-decoration: none;
	width: 100%;
	font-size: 13px;
	padding: 5px 35px;
}
.modal .modal-dialog .modal-content .modal-body .verif label{
	margin-right: 80%;
}
.modal .modal-dialog .modal-content .modal-body .verif input{
	width: 30%;
}
section .left .content .li-click{
	color: rgba(255,255,255,1);
	background-color: rgba(255,255,255,0.1);
}
section .right .tip{
	color: white;
}
